{
    "plugins": [
        [
            "transform-runtime",
            {
                "helpers": false,
                "polyfill": false,
                "regenerator": true
            }
        ],
        "dva-hmr"
    ]
}